*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
body{
    overflow-x: hidden;
    /* display: flex; */
    background-color: #f6f7f7;
}
h1{
    font-size: 5rem;
    line-height: 6rem;
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
    letter-spacing: -1px;
    color: #000435;
}
h2{
    color: #24262b;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    letter-spacing: -0.5px;
}
h3{
    color: #2C3E53;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    letter-spacing: -0.5px;
}
h4{
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    padding-bottom: 1.1rem;
    letter-spacing: -0.5px;
}
h5{
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 2.5rem;
    padding-bottom: 1.05rem;
    letter-spacing: 0.5px;
}
p,.normal{
    font-size: 2rem;
    color: #24262b;
    line-height:2.8rem;
    text-align: justify;
    text-decoration: none;
    width: 100%;
}
.navlist{
    display: flex;
    list-style: none;
    /* width: 100%; */
}
.navlist li{
    list-style: none;
    line-height: 2rem;
    position: relative;
}
.submenu li{
    line-height: 4rem;
}
.navlist a{
    display: block;
    color: #000435;
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 650ms;
}
.navlist .dr{
    padding: 0rem 1.5rem;
    font-size: 1.5rem;
    text-transform: none;
}
.navlist a:hover{
    color: #92A4A8;
}
.bxn{
    padding: 0;
    display: inline-block;
    background-color: #92A4A8;
    border: 2px solid #24262b;
    border-radius: 5rem;
    transition: background-color 650ms;
}
.bxn:hover{
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}
.submenu{
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #00008b;
    background-color: #2C3E53;
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}
.submenu::before{
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    /*this is to create a triangle and if transparent was a color
    the triangle would be a square. https://www.youtube.com/watch?v=wlCPOwBr7no 23:29*/
    border: 1.2rem solid transparent;
    border-bottom-color: #00008b;
}
.submenu .submenu::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    /*this will make the little arrow to point to the left*/
    border-right-color: #00008b;
}
.submenu .submenu{
    border-top: none;
    border-left: 3px solid #00008b;
    top: 0;
    left: 160%;
}
/*teh order of these two classes differ.*/
.navlist li:hover > .submenu{
    top: 6rem;
    opacity: 1;
    visibility: visible;
}

.submenu li:hover > .submenu{
    top: 0;
    left: 100%;
}
@media(max-height: 530px){
    .navlist li ul li ul{
        height: 155px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.container{
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    width: 100%;
}
header {
    color: white;
    /* background-color: #2C3E53; */
    position: fixed;
    transition: 1s;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .container {
        padding-top: 8px;
        padding-bottom: 3px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        transition: .3s;
        opacity: 0;
        animation: slideTop .5s ease forwards;
        animation-delay: calc(0.2s*var(--i));
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.container img{
    padding-bottom: 2px;
}
.is-scrolling{
    width: 100%;
    background-color: #2C3E53;
    opacity: 0.97;
    .container{
        padding-top: 8px;
        padding-bottom: 3px;
    }
    .navlist a{
        color: #f6f7f7;
    }
}
@media(min-width: 901px) and (max-width: 1080px){
    .navlist a{
        padding: 1rem 1rem;
        font-size: 1.4rem;
    }
}
@media(max-width: 900px){
    .container{
        padding-left: 64px;
        padding-right: 64px;
    }
    .navlist{
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        z-index: 100;
        background:rgba(44,62,83, 0.7);
        -webkit-backdrop-filter:blur(5px);
        backdrop-filter: blur(5px);
        padding-top: 120px;
        overflow-y: scroll;
        transition: 0.4s;
    }
    .navlist > li{
        line-height: 6rem;
    }
    .submenu{
        position: initial;
        border: 3px solid transparent;
        border-left-color: #00008b;
        background-color: transparent;
        max-height: 0;
        margin-left: 1rem;
    }
    .submenu::before{
        display: none;
    }
    .bxn{
        margin-left: 1rem;
    }
    .navlist li:hover >.submenu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }
    .navlist.is-active{
        left: 0;
    }
    .hamburger{
        display: block;
        z-index: 101;
    }
}
@media (min-width: 501px) and (max-width: 767px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (max-width:500px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 15px;
    }
}
.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px,6px);
}
.hamburger.is-active::after{
    transform: rotate(45deg) translate(-9px,-8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
@media (min-width:901px){
    .hamburger{
        display: none;
    }
}
ul{
    list-style: none;
}
.dental-lists{
    list-style-image: url(images/bullet\ \(2\).png);
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 70px;
    font-size: 2rem;
    line-height: 2.8rem;
}
main{
    display: flex;

    align-items: start;
    gap: 1rem;
    margin-top: 100px;
    margin-left: 20px;
}
.contents{
    position: sticky;
    min-width: 250px;
    top: 160px;
}
.offer{
    position: sticky;
    margin: 5px;
    min-width: 180px;
    padding: 10px;
    border-radius: 10px;
    top: 40px;
    background-image: url(images/prem1.jpg);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-position: center top;
}
.offer h2{
    color: #f6f7f7;
}
.offer h5{
    color: #00008b;
}
.off{
    text-align: right;
}
.contents .anchor{
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #92A4A8;
    font-weight: 450;
    line-height: 2.5rem;
    text-indent: 3vw;
}
.show{
    font-weight: 700;
    color: red;
}
input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 60px;
    padding: 3px;
}
.sub{
    padding: 5px 0px;
    width: 100%;
}
.content{
    background-image: url(images/baradwhite.png);
    background-position: center;
    margin-top: 40px;
    background-repeat: space;
}
.title{
    height: 20px;
    position: relative;
}
.title::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 20px;
    width: 100%;
    border: solid 2px #000435;
    border-color: #000435 transparent transparent transparent;
    border-radius: 36% / 42% ;
}
.mat{
    text-indent: 1.5vw;
}
.exp{
    float: right;
    width: 220px;
    height: 339px;
    margin: 20px;
    shape-margin: 20px;
    shape-outside: url(images/blab.png);
}
.vid{
    float: left;
    border-radius: 100px 100px 0 0;
    width: 450px;
    height: 230px;
    margin-bottom: 20px;
    margin-right: 20px;
    shape-margin: 20px;
}
.intro{
    width: 95%;
}
.twentytwenty-container{
    float:right;
    margin: 20px;
    width: 35%;
    shape-outside: url(images/WhatsApp\ Image\ 2023-12-28\ at\ 4.06.46\ PM\ \(2\).jpeg);
    shape-margin: 20px;
    border-radius: 10px;
}
#vertical{
    margin-top: 100px;
    width: 25%;
}
.links{
    content: '';
    border-bottom: #00008b;
    border-bottom: 3px solid #00008b;
    cursor: pointer;
    transition: 0.5s;
}
.links:hover{
    background-color: rgb(0 0 139 / 0.5);
}

.label{
    position: relative;
}
.amalgam{

}

.cntr{
    max-width: 1170px;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
}
.custom-shape-divider-top-1702675678 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1702675678 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 59px;
}

.custom-shape-divider-top-1702675678 .shape-fill {
    fill: #f6f7f7;
}
.footer{
    background-color: #000435;
    /* opacity: 0.9; */
    margin-top: 150px;
    padding: 2px 0;
    position: relative;
    line-height: 1.5;
}
.cntr .row{
    display: flex;
    flex-wrap: wrap;
}
.foter-col{
    width: 25%;
    padding: 0 15px;
}
.foter-col h4{
    font-size: 34px;
    color: white;
    text-transform: capitalize;
    margin-top: 59px;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.foter-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #156b6b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.foter-col h4 ul li:not(:last-child){
    margin-bottom: 50px;
}
.foter-col ul li a{
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    padding-top: 13px;
    transition: all 0.3s ease;
}
.foter-col ul li a:hover{
    color: lightskyblue;
    padding-left: 8px;
}
.foter-col .social-links{
    line-height: 50px;
}
.foter-col .social-links a{
    display: inline-block;
    height: 40px;
    font-size: 20px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.foter-col .social-links a:hover{
    color: #24262b;
    background-color: white;
}
@media(max-width: 1000px){
    .foter-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .foter-col{
        width: 100%;
        align-items: center;
    }
}
@media(min-width: 701px) and (max-width: 900px){
    .contents{
        min-width: 150px;
    }
    .offer{
        display: none;
    }
}
@media(max-width: 700px){
    main{
        flex-direction: column;
    }
    .contents{
        position: relative;
        top: 0;
    }
    .content{
        width: 100%;
    }
    .exp{
        width: 50%;
        height: 40%;
    }
    .vid{
        width: 100%;
    }
    .twentytwenty-container,#vertical{width: 60%;}
    .offer{
        width: 100px;
    }
    .sub{margin-left: 0;}
}
