*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
@font-face {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    src: url();
}
html{
    font-size: 10px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: url(images/wallpaperflare-cropped.png);
    background-attachment: fixed;
    color: #2C3E53;
    max-width: 100vw;
    overflow-x: hidden;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    /* font-size: 18px; */
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000435;
}
.logo .star{
    width: 1.4rem;
    object-fit: cover;
    margin-right: 4px;
}
.menu-items{
    display: flex;
    gap: 2rem;
    z-index: 100000000000000;
}
li{
    text-transform: capitalize;
    list-style: none;
}
a{
    text-decoration: none;
    color: #f6f7f7;
    font-size: 14px;
    display: block;
    transition: .3s ease;
}
a:hover{
    text-decoration: underline;
    transform: scale(1.2);
}

.menu-items{
    display: flex;
    /* width: 100%; */
}
.menu-items li{
    line-height: 4rem;
    position: relative;
}
.submenu li{
    line-height: 4rem;
}
.menu-items a{
    display: block;
    color: #eee;
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 650ms;
}
.menu-items .dr{
    padding: 0rem 1.5rem;
    font-size: 1.5rem;
    text-transform: none;
}
.menu-items .thera{
    padding: 0 1rem;
}
.menu-items .fa{
    font-size: 14px;
}
.menu-items a:hover{
    color: #92A4A8;
}
.bxn{
    padding: 0;
    display: inline-block;
    background-color: #24262b;
    border: 2px solid #24262b;
    border-radius: 5rem;
    transition: background-color 650ms;
}
.bxn:hover{
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}
.submenu{
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #00008b;
    background-color: #2C3E53;
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}
.submenu::before{
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    /*this is to create a triangle and if transparent was a color
    the triangle would be a square. https://www.youtube.com/watch?v=wlCPOwBr7no 23:29*/
    border: 1.2rem solid transparent;
    border-bottom-color: #00008b;
}
.submenu .submenu::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    /*this will make the little arrow to point to the left*/
    border-right-color: #00008b;
}
.submenu .submenu{
    border-top: none;
    border-left: 3px solid #00008b;
    top: 0;
    left: 160%;
}
/*teh order of these two classes differ.*/
.menu-items li:hover > .submenu{
    top: 6rem;
    opacity: 1;
    visibility: visible;
}

.submenu li:hover > .submenu{
    top: 0;
    left: 100%;
}
li.move-right{
    margin: auto 0 auto auto;
    line-height: initial;
}
@media(max-height: 530px){
    .menu-items li ul li ul{
        height: 155px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media(min-width: 901px) and (max-width: 1080px){
    .contain{
        padding-left: 29px;
    }
    .menu-items a{
        padding: 1rem 1rem;
        font-size: 1.4rem;
    }
}
@media(max-width: 900px){
    .menu-items{
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        z-index: 1000000000000;
        background:rgba(44,62,83, 0.7);
        -webkit-backdrop-filter:blur(5px);
        backdrop-filter: blur(5px);
        padding-top: 120px;
        overflow-y: scroll;
        transition: 0.4s;
    }
    .menu-items > li{
        line-height: 6rem;
    }
    .submenu{
        position: initial;
        border: 3px solid transparent;
        border-left-color: #00008b;
        background-color: transparent;
        max-height: 0;
        margin-left: 1rem;
    }
    .submenu::before{
        display: none;
    }
    .bxn{
        margin-left: 1rem;
    }
    .menu-items li:hover >.submenu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }
    .menu-items.is-active{
        /* display: flex; */
        left: 0;
        z-index: 10000000000000;
    }
    .hamburger{
        display: block;
        z-index: 100000000000000000001;
    }
}
.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px,6px);
}
.hamburger.is-active::after{
    transform: rotate(45deg) translate(-9px,-8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
@media (min-width:901px){
    .mobile-nav, .hamburger{
        display: none;
    }
}

section{
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem;
}
.section-one{
    /* height: calc(100vh - 85px); */

    height: -moz-fit-content;
    height: fit-content;
}
.thh{
    position: relative;
}
.container1{
    display: grid;
    position: sticky;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    align-items: center;
    max-width: 1078px;
}
.model-section{
    width: 1000px;
    position: absolute;
    left: 25%;
    top: 10%;
}
#Model{
    width: 100px;
    z-index: 0;
}
.SE{
    justify-self: flex-start;
    grid-column-start: 1;
    grid-row-start: 1;
}
.LS{
    justify-self: flex-start;
}
.gold{
    object-fit: cover;
    height: 450px;
    width: 450px;
}
.title{
    line-height: 1.2;
}
.titleF{
    margin-right: 1.5rem;
    margin-left: 4.3rem;
}
.star-s1{
    width: 80px;
}
.title h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    color: #000435;
}
.titleF h1{
    color: #f6f7f7;
}
.titleF h2{
    color: #92A4A8;
}
p{
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 400px;
    text-align: justify;
}
.p{
    padding: 2rem 0;
}
.serv{
    color: #92A4A8;
}
.LearnMore{
    border: none;
    outline: none;
    background: linear-gradient(to right,
    #000435, #253352, #2C3E53
    );
    color: #f6f7f7;
    font-weight:  600;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}
.LearnMore::after{
    margin-left: 1rem;
}
.LearnMore:hover{
    background: linear-gradient(to right, blue, teal);
}
.glow{
    filter: drop-shadow(-20px 0px 1.75rem rgb(81,147,194));
}
.right-side{
    justify-self: flex-end;
}

.title h2{
    font-size: 24px;
    opacity: 0.5;
}
.tooth3{
    width: 450px;
    height: 450px;
    object-fit: cover;
}
.type{
    padding: 1rem 0;
}
.type:first-child{
    font-size: 18px;
}
.g-type{
    color: #000435;
}
.line-blue{
    background-color: #000435;
}
.services{
    background-color: #253352;
    background-image: url(images/aiGreyLogo.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    padding-bottom: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
}
.waVy{
    padding-top: 100px;
}
.wavy{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wavy.png);
    background-size: 700px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i)*0.25s);
}
.wavy#wavy1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
.wavy#wavy2{
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px;
}
.wavy#wavy3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
.wavy#wavy4{
    z-index: 999;
    opacity: 0.7;
    background-position-x: 100px;
}
@keyframes animate{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}
@media(max-width:600px){
    .wavy{
        height: 90px;
    }
}
.container{
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.container .icon{
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container .icon .imgBx{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
    overflow: hidden;
    transition: 1.5s;
    box-shadow: inset 40px 40px 40px rgba(0,0,0,0.2),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.7);
    transform: rotate(calc(360deg/10 * var(--i)));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
}
.container .icon .imgBx.active{
    border-radius: 50%;
}
.container .icon .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/10 * var(--i)));
    transition: 0.5;
    filter: grayscale(1);
}
.container .icon .imgBx.active img{
    filter: grayscale(0);
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.content{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content::before{
    content: '';
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid #000435;
    border-right: 4px solid white;
    border-radius: 50%;
    animation: animate_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}
@keyframes animate_01{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}
.content::after{
    content: '';
    position: absolute;
    inset: 90px;
    /* border: 4px solid white; */
    box-shadow:  40px 40px 40px rgba(0,0,0,0.2),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.7);
    /* border-left: 4px solid white; */
    /* border-right: 4px solid white; */
    border-radius: 48% 52% 63% 37% / 55% 58% 42% 45%;
    /* animation: animate_02 2.5s linear infinite; */
    z-index: 1;
    pointer-events: none;
}
@keyframes animate_02{
    0%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(0deg);
    }
}
.contentBx{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.contentBx .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.contentBx .card .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    animation: float 4s ease-in-out infinite;
    overflow: hidden;
}
.contentBx .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contentBx .card .textBx h2{
    position: relative;
    font-size: 2.5rem;
    color: white;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}
.contentBx .card .textBx h2 span{
    font-size: 0.65em;
    color:  blue;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.contentBx .card .textBx p{
    position: relative;
    display: flex;
    gap: 7px;
    margin-top: 10px;
    color: white;
}

.img-card{
    max-width: 150px;
    max-height: 150px;
    width: 100%;
}
.bg{
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
    transition: 0.7s ease-in;
}
.card-1{
    background: transparent;
    border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
}
.card-2{
    border-radius: 21% 79% 70% 30% / 21% 71% 29% 79%;
}
.card-3{
    border-radius: 64% 36% 31% 69% / 60% 39% 61% 40%;
}
.card-4{
    border-radius: 28% 72% 31% 69% / 60% 55% 45% 40%;
}
.card-5{
    border-radius: 48% 52% 63% 37% / 55% 58% 42% 45%;
}
.card-6{
    border-radius: 40% 60% 56% 44% / 46% 30% 70% 54%;
}
.card-7{
    border-radius: 48% 52% 36% 64% / 55% 58% 42% 45%
}
.card-8{
    border-radius: 62% 38% 72% 28% / 46% 30% 70% 54%;
}
.card-9{
    border-radius: 26% 74% 72% 28% / 41% 44% 56% 59%;
}
.card-10{
    border-radius: 28% 72% 31% 69% / 60% 55% 45% 40%;
}
.card:hover{
    border-radius: 50%;
}
.hid{
    color: #eee;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
    position: absolute;
    max-width: 150px;
    right: 35px;
    bottom: 0;
    opacity: 0;
    transition: 0.2s ease-in;
}
.card:hover .hid{
    bottom:35%;
    opacity: 1;
}
.card:hover h3{
    opacity: 0;
}
.card:hover .color{
    color: #000435;
}
.card:hover .bg{
    opacity: 0.5;
}
.card:hover .img-card{
    opacity: 0;
}
.color h3{
    position: relative;
    color: #f6f7f7;
    padding-bottom: 30px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.3s ease-in;
}
@media (max-width: 750px){
    .container .icon .imgBx{
        width: 50px;
        height: 50px;
        transform-origin: 46vw;
    }
    .container{
        width: 80vw;
        height: 80vw;
    }
    .contentBx .card .textBx h2{
        font-size: 1.5rem;
    }
    .content::before{
        display: none;
    }
    .content::after{
        inset: 40px;
    }
}
.custom-shape-divider-top-1703018325 {
    position: absolute;
    top: -17px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.custom-shape-divider-top-1703018325 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 300px;
}

.custom-shape-divider-top-1703018325 .shape-fill {
    fill: #253352;
}
.txt{
    font-size: 24px;
}
.txt span{
    color: #000435;
}
.sides{
    padding-top: 5rem;
}
.menu{
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 1rem;
}
.aFooot{
    color: #253352;
}
.menu li{
    width: 30%;
}
.footer-section{
    position: relative;
    height: auto;
}
footer{
    padding: 3rem;
}
.right{
    justify-self: right;
}
.star-s2{
    position: absolute;
    width: 65px;
    right: 5px;

}
.star-s4{
    width: 65px;
    position: absolute;
    left: -2%;
    margin-top: 2.5rem;
}
.star-s5{
    position: absolute;
    left: 40%;
    width: 40px;
}
@media(max-width:600px){
    section{
        padding: 0;
    }
    .title h2{
        max-width: 150px;
    }
    .gold, .tooth3{
        object-position: 45px;
        height: 400px;
        width: 400px;
    }
    .right-side{
        grid-column-end: span 2;
        justify-self: flex-end;
    }
    .model-section{
        width: auto;
        position: absolute;
        left: 120px;
        top: -10%;
    }
    .left-side{
        grid-column-end: span 2;
        display: grid;
    }
    .LearnMore{
        margin: 3rem;
    }
    .p{
        padding: 2rem 3rem;
    }
    .title h2{
        padding-left: 3rem;
    }
    .title h1{
        padding: 3rem;
    }
    .card{
        width: 68%;
    }
    .star-s5{
        right: 30%;
        left: inherit;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .SE{
        grid-column-start: 1;
        grid-row-start: 2;
    }
}
.image{
    animation: float 4s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.spacer{
    aspect-ratio: 3/2;
    position: absolute;
    width: 35%;
    top: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 600px){
    .spacer{
        width:90%;
        top:200px;
    }
}
.line{
    background-image: url(line.svg);
}
